{
  "env": {
    "node": true
  },
  "extends": [
    "../.eslintrc.js",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:node/recommended"
  ],
  "plugins": ["node"],
  "rules": {
    "no-console": "off",
    "node/no-unpublished-require": "off"
  }
}
