body {
    overflow: hidden;
    font-family: "Avenir Next W01", Helvetica, sans-serif;
}

.name {
    min-height: 72px;
    font-weight: 600;
}

.sku,
.selected-sku {
    min-height: 350px;
    border: 1px solid #eeeeee;
    margin: 10px;
    padding: 20px;
}

.sku {
    cursor: pointer;
}

.sku:hover {
    border: 1px solid #b4c3ca;
}

.pagination {
    margin: 5px;
}
