<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Commerce Layer UI Extension</title>
</head>

<body>

    <div id="app">
        <div v-if="selectedSku">
            <div class="columns is-gapless is-mobile">
                <sku-selected v-bind:sku="selectedSku" v-bind:endpoint="endpoint" @unselect-sku="unselectSku">
                </sku-selected>
            </div>
        </div>
        <div v-else>
            <div class="cf-form-field">
                <input type="text" class="cf-form-input" v-model="query">
                <div class="cf-form-hint" id="commerce-layer-hint">Found {{ meta.record_count }} SKUs. Filter by name, code, or reference.</div>
            </div>

            <div class="columns is-multiline is-gapless is-mobile">
                <sku-item v-for="sku in skus" v-bind:sku="sku" v-bind:endpoint="endpoint" v-bind:key="sku.id" @select-sku="selectSku">
                </sku-item>
            </div>

            <nav class="pagination is-small">
                <ul class="pagination-list">
                    <li><a class="pagination-link" v-bind:disabled="links.prev == undefined" @click="prevPage">&larr; Prev</a></li>
                    <li><a class="pagination-link" v-bind:disabled="links.next == undefined" @click="nextPage">Next &rarr;</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <script type="text/javascript" src="./index.js"></script>

</body>

</html>
