body {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  	sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.name {
  min-height: 72px;
  font-weight: 600;
}

.sku,
.selected-sku {
  min-height: 350px;
  border: 1px solid #eeeeee;
  margin: 10px;
  padding: 20px;
}

div.selected-sku {
  min-height: 525px;
  padding: 0 5rem 1.5rem;
}
.selected-sku > .name {
  min-height: 0px;
}

.sku {
  cursor: pointer;
}

.sku:hover {
  border: 1px solid #b4c3ca;
}

p.help {
  word-break: break-all;
}

.pagination {
  margin: 5px;
}

.cf-form-field {
	margin-bottom: 1.928571428571429em;
}
.cf-form-field > label {
	display: block;
	margin-bottom: 0.642857142857143em;
}

input.cf-form-input {
  font-size: 16px;
  color: #2a3039;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  display: block;
  width: 100%;
  line-height: 1.5;
  padding: 0 2px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
  border-image-width: 0 0 1px 0;
  border-image-source: url("https://static.contentful.com/app/svg/dotted-border.svg");
  border-image-repeat: round;
  border-image-slice: 1 1;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: padding, background-color;
  -moz-transition-property: padding, background-color;
  -o-transition-property: padding, background-color;
  -ms-transition-property: padding, background-color;
  transition-property: padding, background-color;
  height: 36px;
}
input.cf-form-input[aria-invalid="true"],
input.cf-form-input:invalid {
	background-color: #fff2f1;
}
input.cf-form-input[aria-disabled="true"],
input.cf-form-input[disabled],
input.cf-form-input:disabled {
	background-color: #f7f9fa;
	color: #a9b9c0;
	-webkit-border-image: none;
	-moz-border-image: none;
	-o-border-image: none;
	border-image: none;
}
input.cf-form-input[size] {
	width: auto;
}
textarea.cf-form-input {
  font-size: 16px;
  color: #2a3039;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  display: block;
  width: 100%;
  line-height: 1.5;
  padding: 0 2px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
  border-image-width: 0 0 1px 0;
  border-image-source: url("https://static.contentful.com/app/svg/dotted-border.svg");
  border-image-repeat: round;
  border-image-slice: 1 1;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: padding, background-color;
  -moz-transition-property: padding, background-color;
  -o-transition-property: padding, background-color;
  -ms-transition-property: padding, background-color;
  transition-property: padding, background-color;
  padding-top: 0.2em;
  height: 4.5em;
  max-width: 100%;
}
textarea.cf-form-input[aria-invalid="true"],
textarea.cf-form-input:invalid {
	background-color: #fff2f1;
}
textarea.cf-form-input[aria-disabled="true"],
textarea.cf-form-input[disabled],
textarea.cf-form-input:disabled {
	background-color: #f7f9fa;
	color: #a9b9c0;
	-webkit-border-image: none;
	-moz-border-image: none;
	-o-border-image: none;
	border-image: none;
}
select.cf-form-input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: inherit;
  background: none;
  line-height: normal;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  color: #2a3039;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  display: block;
  width: 100%;
  line-height: 1.5;
  padding: 0 2px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
  border-image-width: 0 0 1px 0;
  border-image-source: url("https://static.contentful.com/app/svg/dotted-border.svg");
  border-image-repeat: round;
  border-image-slice: 1 1;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: padding, background-color;
  -moz-transition-property: padding, background-color;
  -o-transition-property: padding, background-color;
  -ms-transition-property: padding, background-color;
  transition-property: padding, background-color;
  width: auto;
  padding-right: 1.5em;
  padding-left: 0.5em;
  height: 36px;
  background-image: url("assets/dotted-border.svg");
  background-position: center right 5px;
  background-repeat: no-repeat;
  -webkit-background-size: 0.7em;
  -moz-background-size: 0.7em;
  background-size: 0.7em;
}
select.cf-form-input::-ms-expand {
	display: none;
}
select.cf-form-input[aria-invalid="true"],
select.cf-form-input:invalid {
	background-color: #fff2f1;
}
select.cf-form-input[aria-disabled="true"],
select.cf-form-input[disabled],
select.cf-form-input:disabled {
	background-color: #f7f9fa;
	color: #a9b9c0;
	-webkit-border-image: none;
	-moz-border-image: none;
	-o-border-image: none;
	border-image: none;
}
select.cf-form-input > option {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.cf-form-hint {
	margin-top: 0.642857142857143em;
	color: #808080;
	font-size: 13px;
}
