html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-family: 'Avenir Next W01', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

body {
  overflow: hidden;
}

.picker-container {
  height: 100vh;
}

.picker-controls {
  margin-top: -100px;
  height: 40px;
  padding: calc(1rem * (30 / 16));
}

