{
  "extends": ["eslint:recommended", "plugin:promise/recommended", "prettier"],
  "plugins": ["promise"],
  "parserOptions": {
    "ecmaVersion": 8
  },
  "root": true,
  "rules": {
    "promise/no-nesting": "off"
  }
}
