{
  "extends": ["eslint:recommended", "plugin:promise/recommended", "prettier"],
  "plugins": ["promise"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "Promise": true
  },
  "root": true,
  "rules": {
    "promise/no-nesting": "off"
  }
}
