.modal-content {
  display: flex;
}

.preview-wrapper {
  position: relative;
  height: 300px;
}

.preview-wrapper img {
  cursor: crosshair;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
