html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.site-button {
  height: 2.5rem;
  padding: 0 !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  font-family: "Avenir Next W01", Helvetica, sans-serif !important;
}
.site-button:focus {
  outline: 0;
  border: 1px solid #f1defa;
}
.powered-by {
  margin-bottom: 5%;
}
.powered-by p {
  font-family: "Avenir Next W01", Helvetica, sans-serif !important;
  margin-bottom: inherit;
}
.flexcontainer {
  display: flex;
  flex-direction: column;
}