html, body {
    height: 440px;
    overflow: hidden;
}
.preloader, .error, .thumbnails {
    display: none;
}
.thumbnail iframe {
    min-height: 120px;
    min-width: 200px;
    width: 100%;
}
.thumbnail h5 {
    max-height: 25px;
    overflow: hidden;
}
.thumbnail .btn.active {
    pointer-events: none;
}
.thumbnail .btn .active, .thumbnail .btn.active .nonactive {
    display: none;
}
.thumbnail .btn .nonactive, .thumbnail .btn.active .active {
    display: inline;
}
.thumbnail .btn.active {
    pointer-events: none;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.panel-body {
    max-height: 400px;
    overflow: scroll;
}
