<div class="row">
    <div class=" col-xs-12">
        <h3><%= data[0].project.name %></h3>
    </div>
    <% data.forEach(item => { %>
    <div class="col-xs-6 col-sm-4">
        <a href="#">
            <div class="thumbnail">
                <!-- Actual video player -->
                <iframe src="https://fast.wistia.net/embed/iframe/<%=
                    item.hashed_id %>"></iframe>
                <div class="caption">
                    <h5><%= item.name.length > 35 ? item.name.substr(0, 35) + '...' : item.name %></h5>
                    <!-- Button to pass selected video to component. -->
                    <a class="btn btn-primary" role="button"
                       data-video-id="<%= item.hashed_id %>"><span
                                class="nonactive">Use video</span><span class="active">Active</span></a>
                </div>
            </div>
        </a>
    </div>
    <% }); %>
</div>