{
  "env": {
    "browser": true
  },
  "globals": {
    "module": "readonly"
  },
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.8"
    }
  }
}
