.upload-view {
  border: 2px dashed #ccc;
  text-align: center;
  background: #fff;
  color: #888;
}

.upload-view main {
  position: relative;
  height: 10rem;
}

.upload-view .image-icon {
  width: 72px;
  height: 72px;
}

.upload-view .image-icon-label {
  color: #333;
}

.upload-view .browse-button {
  position: absolute;
  bottom: 0;
  left: 1.25rem;
}

.upload-view.dragover {
  border-color: #888;
  background: #fff;
  color: #111;
}

.upload-view .file-picker {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  cursor: pointer;
}
