body {
  margin: 0;
  font-family: sans-serif;
}

/* Codemirror */
.CodeMirror {
  border: 1px solid rgb(223, 229, 233);
  font-size: 1.2em;
}

.cm-s-default .cm-string {
  color: #536171;  
}
.cm-s-default .cm-number {
  color: #2BA9E9;
}
.cm-s-default .cm-atom {
  color: #E0534E;
}


/* Toolbar */
.toolbar {
  border: 1px solid #dfe5e9;
  border-bottom: 0;
  background-color: #f7f9fa;
  padding: 8px;
  display: flex;
}

.title {
  line-height: 22px;
  width: 110px;
  font-size: 0.8em;
  font-weight: 600;
  color: #536171;
}

.title:after {
  content: 'JSON Editor';
}

.validation {
  font-size: 0.8em;
  color: #E0534E;
  line-height: 22px;
  flex: 1 1 auto;
  text-align: right;
}

.undo, .redo {
  font-size: 0.8em;
  width: 50px;
  border: 1px solid #dfe5e9;
  margin-right: 8px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #B9C1CB;
  flex: 0 1 auto;
}

.undo.active, .redo.active {
  color: #536171;
  cursor: pointer;
}


.undo.active:hover, .redo.active:hover {
  background-color: #dfe5e9;
}

.undo:after {
  content: 'Undo';
}

.redo:after {
  content: 'Redo';
}
