html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.rating.ratingA {
  color: #32936f;
}
.rating.ratingB {
  color: #1e5943;
}
.rating.ratingC {
  color: #27463a;
}
.rating.ratingD {
  color: #f19117;
}
.rating.ratingE {
  color: #e61a27;
}

.outofbounds {
  background: #fdd;
}
.inbounds {
  background: #dfd;
}