* {
  box-sizing: border-box;
}
html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input,
textarea {
  margin-bottom: 15px !important;
}

/* .fields > div {
  border: 1px dotted darkorange;
  margin: 2px;
} */
